@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

#hero {
    background-image: url(../style/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 100vh; */
    height: 625px;
    width: 1500px;
    margin-bottom: 74px;
}

.frame-0 {
    width: 998px;
    height: 581px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.grp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    margin-left: 221px;
    margin-right: 221px;
}

.title {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.description {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    justify-content: flex-start;
    align-items: start;
    opacity: 0.7;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 32px;

}

.btn {
    color: rgba(255, 255, 255, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    /* Frame 2 */
    width: 244px;
    height: 65px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgba(13, 19, 33, 1);
}

.frame {
    width: 1074px;
    height: 1312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10;
    padding: 80px 97px 80px 97px;
    margin-left: 140px;
    margin-right: 145px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    gap: 48px;
    margin-bottom: 90px;
}

.title-box {
    display: flex;
    flex-direction: column;
    margin-left: 47px;
    margin-right: 47px;
    justify-content: start;
    text-align: left;
    align-items: center;
}

.sub-title {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.into-description {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.box {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly;
    align-items: flex-start; */
    margin-bottom: 34px;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 28px;
}

.box-container {
    justify-content: space-evenly;
    display: flex;
    gap: 100px;
}

.container {
    /* Frame 9 */
    width: 477px;
    height: 219px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;


}

.box-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.box-description {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}

.box-button {
    width: 171px;
    height: 35px;
    display: flex;
    /* padding: 12px 20px 12px 20px; */
    justify-content: flex-start;
    align-items: flex-start;



}

.box-btn {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 1);
    opacity: 0.7;

}

.farme-1 {
    width: 1253px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-left: 140px;
    margin-right: 145px;

}

.ispire-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24;
    margin-right: 144px;
    margin-left: 144px;
}

.inspire-title {
    color: rgba(13, 19, 33, 1);
    margin-bottom: 40px;
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.inspire-description {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.inspire-video {
    width: 1253px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.frame-2 {
    width: 1253px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 140px;
    margin-right: 145px;
    margin-bottom: 111px;
    margin-top: 150px;
}

.target-container {
    width: 946px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.target-title {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.target-description {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;

}

.target-box {
    width: 1140px;
    height: 299px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.box-1 {
    margin-top: 80px;
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.box-2 {
    margin-top: 80px;
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.box-3 {
    margin-top: 80px;
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.icon-title {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.icone-description {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.icone-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;

}

.icone-button {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.frame-3 {
    width: 1253px;
    height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    margin-left: 140px;
    margin-right: 145px;
}

.next-container {
    width: 946px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.next-title {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.next-description {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.next-box {
    width: 1140px;
    height: 705px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.next-box-1 {
    width: 1140px;
    height: 219px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.next-box-2 {
    width: 1140px;
    height: 219px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.next-box-3 {
    width: 1140px;
    height: 219px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.next-icone-box {
    width: 941.22px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.next-icone-title {
    color: rgba(13, 19, 33, 1);

    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.next-icone-description {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.next-icone-btn {
    color: rgba(13, 19, 33, 1);

    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.frame-4 {
    width: 1253px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-left: 140px;
    margin-right: 145px;
    margin-top: 60px;
    background-image: url(../style/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h3 {
    color: rgb(233, 228, 228);

    font-family: Azeret Mono;
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

p {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.filed {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.submit-box {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    width: 540px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 19px 20px 19px 20px;
}

input {
    width: 340px;
    height: 40px;
    text-decoration: none;
    border: none;
}

.submit-btn {
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    width: 50px;
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 17px 20px 17px 20px;
}

.submit {
    text-decoration: none;
    border: none;
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

footer {
    width: 100%;
    height: 100px;
    gap: 32px;
    /* border: 2px solid red; */
    margin-top: 80px;

}

.fot-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 140px;
    margin-right: 100px;
}

.fot-title {
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.icons {
    display: flex;
    gap: 24px;
}